<section class="page-header">
    <%= render "users/user_profile_info", user: current_user, profile_size: "large" %>
</section>

<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages_by_input", resource: resource, emsg: emsg = {} %>
  
  <div class="field-label-pair">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
  </div>
  <%= (tag.p emsg[:first_name].first, class: "field-error-message") if emsg && emsg[:first_name] %>

  <div class="field-label-pair">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, autocomplete: "last_name" %>
  </div>
  <%= (tag.p emsg[:last_name].first, class: "field-error-message") if emsg && emsg[:last_name] %>

  <div class="field-label-pair">
    <%= f.label :username %>
    <%= f.text_field :username, autocomplete: "username" %>
  </div>
  <%= (tag.p emsg[:username].first, class: "field-error-message") if emsg && emsg[:username] %>

  <div class="field-label-pair">
    <%= f.label :email %>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>
  <%= (tag.p emsg[:email].first, class: "field-error-message") if emsg && emsg[:email] %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field-label-pair">
    <%= f.label :password %> 
    <% if @minimum_password_length %>
      <p class="short-top-bottom-margins"><em>(<%= @minimum_password_length %> characters minimum - leave blank if you don't want to change it)</em></p>
    <% else %>
      <p class="short-top-bottom-margins"><em>(leave blank if you don't want to change it)</em></p>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
  <%= (tag.p emsg[:password].first, class: "field-error-message") if emsg && emsg[:password] %>

  <div class="field-label-pair">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <%= (tag.p emsg[:password_confirmation].first, class: "field-error-message") if emsg && emsg[:password_confirmation] %>

  <div class="field-label-pair">
    <%= f.label :current_password %>
    <p class="short-top-bottom-margins"><em>(we need your current password to confirm your changes)</em></p>
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
  <%= (tag.p emsg[:current_password].first, class: "field-error-message") if emsg && emsg[:current_password] %>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
<br>
<hr>

<h3 class="short-bottom-margin">This site not for you?</h3>
<p> <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
