<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages_by_input", resource: resource, emsg: emsg = {} %>

  <div class="form-field-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
  </div>
  <%= (tag.p emsg[:first_name].first, class: "field-error-message") if emsg && emsg[:first_name] %>

  <div class="form-field-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, autocomplete: "last_name" %>
  </div>
  <%= (tag.p emsg[:last_name].first, class: "field-error-message") if emsg && emsg[:last_name] %>

  <div class="form-field-group">
    <%= f.label :username %>
    <%= f.text_field :username, autocomplete: "username" %>
  </div>
  <%= (tag.p emsg[:username].first, class: "field-error-message") if emsg && emsg[:username] %>

  <div class="form-field-group">
    <%= f.label :email %>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>
  <%= (tag.p emsg[:email].first, class: "field-error-message") if emsg && emsg[:email] %>

  <div class="form-field-group">
    <%= f.label :password  %>
    <% if @minimum_password_length %>
      <p class="short-margins"><em>(<%= @minimum_password_length %> characters minimum)</em></p>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
  <%= (tag.p emsg[:password].first, class: "field-error-message") if emsg && emsg[:password] %>

  <div class="form-field-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <%= (tag.p emsg[:password_confirmation].first, class: "field-error-message") if emsg && emsg[:password_confirmation] %>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
