<section id="form-flex-container">
    <section id="col-form">
        <section class="pc-section-header form-header">
            <h2>Sign Up</h2>
        </section>
        
        <section class="form">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages_by_input", resource: resource, emsg: emsg = {} %>

                <section class="form-section remove-bottom-margin">
                    <div class="form-field-group">
                        <div class="field-label-pair">
                            <%= f.label :first_name %>
                            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
                        </div>
                        <%= (tag.p emsg[:first_name].first, class: "field-error-message") if emsg && emsg[:first_name] %>
                    </div>

                    <div class="form-field-group">
                        <div class="field-label-pair">
                            <%= f.label :last_name %>
                            <%= f.text_field :last_name, autocomplete: "last_name" %>
                        </div>
                        <%= (tag.p emsg[:last_name].first, class: "field-error-message") if emsg && emsg[:last_name] %>
                    </div>

                    <div class="form-field-group">
                        <div class="field-label-pair">
                            <%= f.label :username %>
                            <%= f.text_field :username, autocomplete: "username" %>
                        </div>
                        <%= (tag.p emsg[:username].first, class: "field-error-message") if emsg && emsg[:username] %>
                    </div>

                    <div class="form-field-group">
                        <div class="field-label-pair">
                            <%= f.label :email %>
                            <%= f.email_field :email, autocomplete: "email" %>
                        </div>
                        <%= (tag.p emsg[:email].first, class: "field-error-message") if emsg && emsg[:email] %>
                    </div>

                    <div class="form-field-group">
                        <div class="field-label-pair">
                            <%= f.label :password  %>
                            <%= f.password_field :password, autocomplete: "new-password" %>
                        </div>
                        <%= (tag.p emsg[:password].first, class: "field-error-message") if emsg && emsg[:password] %>
                        <% if @minimum_password_length %>
                            <p class="short-top-bottom-margins"><em>(<%= @minimum_password_length %> characters minimum)</em></p>
                        <% end %>
                    </div>

                    <div class="form-field-group">
                        <div class="field-label-pair">
                            <%= f.label :password_confirmation %>
                            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                        </div>
                        <%= (tag.p emsg[:password_confirmation].first, class: "field-error-message") if emsg && emsg[:password_confirmation] %>
                    </div>
                </section>

                <section class="form-section">
                    <div class="form-action-button">
                        <%= f.submit "Sign up" %>
                    </div>
                    <%= render "devise/shared/links" %>
                </section>
            <% end %>
        </section>
    </section>
    
    <section id="col-about">
            <%= render "./static/main_site_description" %>
    </section>
</section>
