<section class="page-header">
    <h1 class="remove-top-bottom-margins">My Soon to Be Friends</h1>
</section>

<% if @request_count > 0 %>
    <section id="recieved-requests" class="page-content">
        <h4 class="remove-top-bottom-margins">Pending Requests</h4>
        <p class="short-top-bottom-margins">You have <%= @request_count %> friend <%= @request_count == 1 ? "request" : "requests" %> to review.</p>
        <%= render "users/user_profiles_list", user_collection: @recieved_friend_requests, sidebar: false %>
    </section>
<% end %>

<section id="sent-requests" class="page-content">
    <h4 class="remove-bottom-margin">Sent Requests</h4>
    <p class="short-top-bottom-margins">You have <%= @sent_count %> sent <%= @sent_count == 1 ? "request" : "requests" %> awaiting replies.</p>
    <%= render "users/user_profiles_list", user_collection: @sent_friend_requests, sidebar: false %>
</section>