<section class="profile-display <%= profile_display_class(profile_size) %>">
    <div class="profile-img">
        <%= image_tag user.get_profile_image, alt: user.hyphenate(user.full_name), class: profile_image_classes(profile_size), style: image_positioning_styles(user) %>
    </div>
    <% if profile_size != "medium" %>
                            <% # profile_info_class will add "profile-list" if needed which displays info in flex box %>
        <div class="profile-info <%= profile_info_class(profile_size) %>">
            <% if profile_size == "large" %>
                <h1 class="remove-top-bottom-margins"><%= user.full_name %></h1>
                <% if action_name == "show" || controller_name == "registrations" %>
                    <p class="short-top-bottom-margins">@<%= user.username %></p>
                    <p class="short-top-bottom-margins"><%= user.email %></p>
                    <% if user == current_user %>
                        <%= button_to "Change Profile Image", edit_profile_image_user_path(current_user), method: :get %>
                    <% end %>
                <% else %>
                    <h3 class="short-top-bottom-margins">Edit Profile Image</h3>
                    <p><b>Current image: </b>
                        <% if current_user.image_url && current_user.oauth_default %>
                            Facebook Profile Image
                        <% elsif !current_user.profile_image.id.nil? %>
                            <%= current_user.profile_image.filename %>
                        <% else %>
                            Default User Icon
                        <% end %>
                    </p>
                    <%= button_to "Remove Image", delete_profile_image_user_path(current_user), data: { confirm: "Are you sure?" }, method: :delete, class: "short-top-bottom-margins" %>
                    <p class="short-top-bottom-margins"><i>(to replace image, use form below)</i></p>
                <% end %>
                
                <% if user != current_user && !current_user.rejected?(user) %>
                    <%= render "friends/friend_request_button", user: user %>
                <% end %>
            <% else %>
                <p class="short-top-bottom-margins"><%= link_to user.full_name, user_path(user) %></p>
                <% if !sidebar %>
                    <%= render "friends/friend_request_button", user: user %>
                <% end %>
            <% end %>
        </div>
    <% end %>
</section>