<section class="<%= profile_display_classes(location) %>">
    <div class="profile-img">
        <%= image_tag user.get_profile_image, alt: user.hyphenate(user.full_name), class: profile_image_classes(location), style: image_positioning_styles(user) %>
    </div>

    <div class="profile-info">
        <div class="<%= profile_user_classes(location) %>">
            <%= get_formatted_name(user, location) %>
            
            <% if display_username?(location) %>
                <p><%= link_to "@#{user.username}", user_path(user) %></p>
            <% end %>

            <% if display_email?(location, user) %>
                <p><%= mail_to user.email %></p>
            <% end %>
        </div>
        <% if display_stats?(location) %>
            <div class="profile-stats">
                <%= render "users/user_profile_stats", user: user %>
            </div>
        <% end %>
    </div>
</section>

