<section class="profile_display (flex if location != left_sidebar)">
    <div class="profile-img">
        <%= image_tag user.get_profile_image, alt: user.hyphenate(user.full_name), class: profile_image_classes(location), style: image_positioning_styles(user) %>
    </div>

    <div class="profile-info (flex if location == post || comment)">
        <div class="profile-user">
            <%= get_formatted_name(user, location) %>
            <p><%= link_to "@#{user.username}", user_path(user) if display_username?(location) %></p>
            <p><%= mail_to user.email if display_email?(location, user) %></p>
        </div>

        <div class="profile-stats">
            <%= (render "users/user_profile_stats", user: user) if display_stats?(location) %>
        </div>
    </div>
</section>

