<section class="pc-section-header form-header">
    <h2>Change your password</h2>
</section>

<section class="form">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %> 
        <%= render "devise/shared/error_messages_by_input", resource: resource, emsg: emsg = {} %>
        <%= f.hidden_field :reset_password_token %>

        <section class="form-section remove-bottom-margin">
            <div class="form-field-group">
                <div class="field-label-pair">
                    <%= f.label :password, "New password" %>
                    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
                </div>
                <%= (tag.p emsg[:password].first, class: "field-error-message") if emsg && emsg[:password] %>
                <% if @minimum_password_length %>
                    <p class="form-field-note"><em>(<%= @minimum_password_length %> characters minimum)</em></p>
                <% end %>
            </div>

            <div class="form-field-group">
                <div class="field-label-pair">
                    <%= f.label :password_confirmation, "Confirm new password" %>
                    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                </div>
                <%= (tag.p emsg[:password_confirmation].first, class: "field-error-message") if emsg && emsg[:password_confirmation] %>
            </div>
        </section>

        <section class="form-section">
            <div class="form-action-button">
                <%= f.submit "Change my password" %>
            </div>
        </section>
    <% end %>
</section>

