<article id=<%= "post-#{post.id}" %> class="post-group">
    <section class="post">
        <div class="post-header">
            <%= render "users/user_profile_info", user: post.user, location: "post", post: post %>
        </div>

        <% if controller_name == "posts" && action_name == "show" %>
            <div class="post-content">
                <p><%= post.content %></p>
            </div>
        <% else %>
            <a href=<%= post_path(post) %>, class="post-link" %>
                <div class="post-content">
                    <p><%= post.content %></p>
                </div>
            </a>
        <% end %>

        <div class="post-footer">
            <p class="short-right-margin"><%= likes.count %> Likes</p>
            
            <% binding.pry %>
            
            <%= button_to "Like", "#", method: :post %>
            <% if (controller_name != "posts" || action_name != "show") && post.comments.count > Comment.display_limit %>
                <p class="short-right-margin"><%= post.comments.count %> Comments</p>
                <%= button_to "See All", post_path(post), method: :get %>
            <% else %>
                <p><%= post.comments.count %> Comments</p>
            <% end %>
            <p>&nbsp | &nbsp </p>
            <%= button_to "Edit", edit_post_path(post), method: :get, class: "small-button" %>
            <%= button_to "Delete", post_path(post), data: { confirm: "Are you sure?" }, method: :delete, class: "small-button" %>
        </div>
    </section>

    <section class="post-comments-group">
        <section class="post-comments">
            <% comments.each do |com| %>
                <%= render "comments/comment", post: post, comment: com %>
            <% end %>
        </section>
        <%= render "comments/comment_form", post: post, comment: current_user.comments.build %>
    </section>
</article>