<% if action_name == "index" %>
    <h2 class="short-top-bottom-margins">What's on your mind, <%= current_user.first_name %>?</h2>
<% elsif action_name == "edit" %>
    <h2 class="short-top-bottom-margins">Edit Your Post</h2>
<% else %>
    <h4 class="short-top-bottom-margins">What's on your mind, <%= current_user.first_name %>?</h4>
<% end %>

<section class="form">
    <%= form_with model: post do |f| %>
        <div class="form-field-group">
            <%= f.text_area :content, placeholder: "Share your thoughts...", autofocus: true %>
        </div>
        
        <div class="form-action-button">
            <%= f.submit %>
        </div>
    <% end %>
</section>

