<section class="post-form">
    <%= form_with model: post do |f| %>
        <%=  pass_previous_referrer(f, "edit") %>
        
        <div class="post-form-group">
            <div class="post-form-header">
                <h2 class="short-top-bottom-margins"><%= get_form_text(f, :header) %></h2>
            </div>
            
            <div class="post-form-input form-field-group">
                <%= f.text_area :content, placeholder: get_form_text(f, :content, :placeholder), autofocus: true %>
            </div>
            
            <div class="post-form-footer form-action-button">
                <%= f.submit %>
            </div>
        </div>
    <% end %>
</section>

