<nav id="user-nav">
    <p><%= link_to "Timeline", about_path %></p>
    <p><%= link_to "Profile", "#" %></p>
    <p><%= link_to "Friends", "#" %></p>
    <p><%= link_to "Friend Requests", "#" %></p>
    <p><%= link_to "Find Friends", "#" %></p>
    <p><%= link_to "Edit Profile", "#" %></p>
</nav>