<nav id="user-nav">
    <p><%= link_to "#{current_user.first_name}'s Timeline", "#" %></p>
    <p><%= link_to "#{current_user.first_name}'s Profile", edit_user_registration_path %></p>
    <p><%= link_to "#{current_user.first_name}'s Friends", "#" %></p>
    <p><%= link_to "Friend Requests", "#" %></p>
    <p><%= link_to "Find Friends", "#" %></p>
    <p><%= link_to "Edit Profile", "#" %></p>
</nav>