<aside id="right-sidebar">
    <h3>Suggested Friends</h3>
    <p><%= link_to "Joe Blow", "#" %></p>
    <p><%= link_to "Joe Schmo", "#" %></p>
    <p><%= link_to "Jane Doe", "#" %></p>
    <p><%= link_to "Jack Hill", "#" %></p>
    <p><%= link_to "Jill Hill", "#" %></p>
</aside>

