<!DOCTYPE html>
<html>
  <head>
    <title>OdinFaceTome</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/site_header" %>

    <main>
      <% if logged_in? %>
        <%= render "layouts/site_sidebar_left" %>
      <% end %>
      
      <section id="main-content">
        <%= yield %>
      </section>      
      
      <% if logged_in? %>
        <%= render "layouts/site_sidebar_right" %>
      <% end %>
    </main>

    <%= render "layouts/site_footer" %>    
  </body>
</html>
